*
  box-sizing: border-box 
  outline: none 
  transition: all 0.5s ease 
body 
  margin: 0
  font-family: 'Proxima Nova Light', sans-serif
.container
  max-width: 1920px 
  width: 87%
  margin: 0 auto 
a 
  text-decoration: none
h1 
  margin: 0
  font-family: 'Proxima Nova Regular', sans-serif
h2 
  margin: 0
  font-family: 'Proxima Nova Regular', sans-serif
h3 
  margin: 0
  font-family: 'Proxima Nova Regular', sans-serif
ul 
  margin: 0
strong 
  font-weight: 700
button
  cursor: pointer 
img 
  display: block 
iframe
  width: 100%
label
  max-width: 250px
  margin-bottom: 10px 
  margin-top: -8px
  text-align: center
.error 
  border: 1px solid red 
#username-error, #email-error, #phone-error, #username1-error, #phone1-error
  border: none 
@media (min-width: 1644px)
  .offer-layouts__item 
    min-width: 33%
  .navbar-block
    justify-content: space-around !important
    padding: 0 40px 
  .hero-block 
    justify-content: space-around !important
  .footer-block 
    justify-content: space-around !important 
@media (max-width: 992px)
  *:hover 
    background-color: none 
    box-shadow: none !important
  button:hover 
    background-color: #23bac1 !important 
  .navbar 
    &__back 
      &:hover 
        color: #23bac1 important 
        text-decoration: underline !important
  .large-block 
    background-image: url('../img/hero/hero-bg.jpg')
    background-size: cover 
    