*
  box-sizing: border-box 
  outline: none 
body 
  margin: 0
  font-family: 'Proxima Nova Light', sans-serif
.container
  max-width: 1920px 
  width: 87%
  margin: 0 auto 
a 
  text-decoration: none
h1 
  margin: 0
  font-family: 'Proxima Nova Regular', sans-serif
h2 
  margin: 0
  font-family: 'Proxima Nova Regular', sans-serif
h3 
  margin: 0
  font-family: 'Proxima Nova Regular', sans-serif
ul 
  margin: 0
strong 
  font-weight: 700
button
  cursor: pointer 
img 
  display: block 
iframe
  width: 100%
label
  max-width: 250px
  margin-bottom: 5px 
.error 
  border: 1px solid red 
#username-error, #email-error, #phone-error
  border: none 
@media (min-width: 1644px)
  .offer-layouts__item 
    min-width: 33%
  .hero-block 
    justify-content: space-around !important
  .footer-block 
    justify-content: space-around !important 
@media (max-width: 992px)
  button:hover 
    background-color: none 