.offer 
  &-block 
    display: flex 
    flex-direction: column 
    align-items: center  
    padding-top: 92px 
    padding-bottom: 3px 
  &__title 
    margin-bottom: 60px 
    position: relative 
    font-size: 36px
    font-weight: 400
    &::after 
      content: '' 
      width: 30px 
      height: 2px 
      background-color: #23bac1
      position: absolute 
      right: 50%
      margin-right: -15px 
      bottom: -21px 
  &__subtitle
    display: block 
    font-size: 20px
    font-weight: 300
    margin-bottom: 70px 
  &-layouts
    display: flex 
    justify-content: space-between 
    flex-wrap: wrap
    &__item 
      flex-basis: 33%
      display: flex 
      flex-direction: column 
      align-items: center 
      padding-top: 33px
      padding-bottom: 40px  
      margin-bottom: 25px 
      max-width: 370px 
      transition: 0.2s
      &:hover 
        box-shadow: 0 5px 32px rgba(0, 0, 0, 0.1)
        .offer-layouts__image
          filter: none 
        .offer-layouts__button
          background-color: #23bac1
          color: #ffffff
          &:hover 
            background-color: #27c7ce
    &__text
      display: flex 
      flex-direction: column
      align-items: center 
      margin-bottom: 16px 
    &__point 
      position: relative 
      font-size: 16px
      font-weight: 400
      margin-bottom: 15px 
      &::after 
        content: '' 
        position: absolute
        width: 10px 
        height: 2px 
        right: 50%
        margin-right: -5px 
        bottom: -8px 
        background-color: #23bac1 
      &:last-child
        &::after 
          display: none 
    &__title
      text-align: center
      font-size: 20px
      font-weight: 400
      margin-bottom: 21px 
    &__image 
      margin-bottom: 31px 
      filter: grayscale(100%)
    &__paragraph  
      max-width: 235px 
      text-align: center 
      font-size: 16px
      font-weight: 300
      line-height: 21px
    &__button 
      width: 230px 
      height: 55px 
      border: 1px solid rgba(174, 174, 174, 0.2)
      background-color: #ffffff
      font-size: 13px
      font-weight: 400
      text-transform: uppercase
.button-low
  margin-top: 33px 
.button-lower
  margin-top: 119px 
#landscape
  margin-right: -33px
#layout-image-6
  margin-bottom: 18px   
@media (max-width: 1200px)
  .offer 
    &-layouts 
      justify-content: space-around
      &__item 
        flex-basis: 50%
#landscape
  margin-right: 0
@media (max-width: 992px)
  .offer-layouts__image
    filter: none
  .offer-layouts__button
    background-color: #23bac1 
    color: #fff 
@media (max-width: 855px)
  .offer 
    &-layouts 
      justify-content: space-between
      &__item 
        max-width: 350px 
@media (max-width: 800px)
  .offer 
    &-block 
      padding-top: 50px 
    &__title
      font-size: 30px 
      margin-bottom: 40px 
    &__subtitle 
      font-size: 18px 
      text-align: center 
      max-width: 250px 
    &-layouts 
      justify-content: center
      &__item 
        margin: 25px
        margin-top: 0
        max-width: 370px 
        padding: 20px 5px 20px 5px 
@media (max-width: 720px)
  .offer 
    &-picture
      max-width: 280px 
@media (max-width: 650px)
  .offer 
    &-picture
      max-width: 270px  
@media (max-width: 620px)
  .offer 
    &-picture
      max-width: 260px
@media (max-width: 380px)
  .offer 
    &-block
      padding-top: 30px 
    &__title 
      font-size: 24px 
    &__subtitle
      margin-bottom: 35px 
    &-picture
      max-width: 240px     
    &-layouts 
      &__title 
        font-size: 18px 